<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Use TLS</key>
	<true/>
	<key>API Port</key>
	<integer>443</integer>
	<key>API Host</key>
	<string>devapi.buzzrd.io</string>
	<key>S3 Bucket URL</key>
	<string>http://s3.amazonaws.com/buzzrd-dev/</string>
</dict>
</plist>
